{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

  <!-- Google Fonts: Nunito sans -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Base CSS -->
  <link rel="stylesheet" href="{% static 'css/base/base.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

  <style>
    #h-100 {
      height: 100vh;
    }
  </style>

  <title>Sistema de Cadastro Escolinha Chapecoense Canoinhas</title>
</head>

<body>
  <div id='h-100' class="container-fluid bg-success">
    <div class="row h-100 bg-success">
      <div class="col-lg-2 col-md-12 col-sm-12 p-0 bg-success">
        <div class="logo-container text-center bg-success">
          <a class="text-light" href="{% url 'home'%}"><img src="{% static 'logo.png' %}" alt="Logo"<br />
            Chapecoense
          </a>
        </div>

        <ul class="nav-menu">
          <hr />
          {% if user.is_authenticated %}
          <li class="nav-item dropdown bg-success">
            <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
              aria-expanded="false">
              <div><i class="fa fa-address-book text-white"></i></div>Alunos
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item text-success" href="{% url 'CadastroAlunos' %}">Cadastro de Alunos</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-success" href="{% url 'ListaAlunos' %}">Lista de Alunos</a>
            </div>
          </li>
          <hr />
          <li class="nav-item dropdown bg-success">
            <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
              aria-expanded="false">
              <div><i class="	fa fa-volume-control-phone text-white"></i></div>Responsáveis
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item text-success" href="{% url 'CadastroResponsavel' %}">Cadastro de Responsáveis</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-success" href="{% url 'ListaResponsavel' %}">Lista de Responsáveis</a>
            </div>
          </li>
          <hr />
          <li class="nav-item dropdown bg-success">
            <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
              aria-expanded="false">
              <div><i class="fa fa-institution text-white"></i></div>Escolas
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item text-success" href="{% url 'CadastroEscola' %}">Cadastro de Escolas</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-success" href="{% url 'ListaEscola' %}">Lista de Escolas</a>
            </div>
          </li>
          <hr />
          <li class="nav-item dropdown bg-success">
            <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
              aria-expanded="false">
              <div><i class="fa fa-mortar-board text-white"></i></div>Professores
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item text-success" href="{% url 'CadastroProfessor' %}">Cadastro de Professores</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-success" href="{% url 'ListaProfessor' %}">Lista de Professores</a>
            </div>
          </li>
          <hr />
          <li class="nav-item dropdown bg-success">
            <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
              aria-expanded="false">
              <div><i class="fa fa-dollar text-white"></i></div>Financeiro
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item text-success" href="{% url 'CadastroFinanceiro' %}">Abrir caixa</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-success" href="{% url 'ListaFinanceiro' %}">Detalhes financeiro e inadimplentes</a>
            </div>
          </li>
          <hr />
          <li class="nav-item dropdown bg-success">
            <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
              aria-expanded="false">
              <div><i class="fa fa-file-word-o text-white"></i></div>Fichas de matrícula
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item text-success" href="{% url 'CadastroFicha' %}">Nova ficha</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-success" href="{% url 'ListaFicha' %}">Ver fichas</a>
            </div>
          </li>
          <hr />
          <li class="nav-item dropdown bg-success">
            <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
              aria-expanded="false">
              <div><i class="fa fa-vcard text-white"></i></div>Valores de matrícula
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item text-success" href="{% url 'CadastroValores' %}">Cadastrar</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-success" href="{% url 'ListaValores' %}">Listar</a>
            </div>
          </li>
          <hr />
          <li class="nav-item dropdown bg-success">
            <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
              aria-expanded="false">
              <div><i class="	fa fa-volume-up"></i></div>Chamadas
            </a>
            <div class="dropdown-menu text-white">
              <a class="dropdown-item text-success" href="{% url 'CadastroChamada' %}">Novo</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-success" href="{% url 'ListaChamada' %}">Listar</a>
            </div>
          </li>
          <hr />
          <li class="nav-item dropdown bg-success">
            <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
              aria-expanded="false">
              <div><i class="fa fa-solid fa-user text-white"></i></div>{{ user.username.title }}
            </a>
            <div class="dropdown-menu text-success">
              <a class="dropdown-item text-success" href="{% url 'logout'%}">Sair</a>
            </div>
          </li>
          <hr />
        </ul>
      </div>
      <div class="col-lg-10 col-md-12 col-sm-12 bg-white">

        {% block content %}
        {% endblock content %}

      </div>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login'%}?next={{request.path}}">
          <div>
            <i class="fas fa-sign-out-alt"></i>
          </div>
          Entrar
        </a>
      </li>
      <hr />
      </ul>
    </div>
    <div class="col-lg-10 col-md-12 col-sm-12 bg-secondary"></div>
    {% endif %}
  </div>
  </div>

  <!-- Boostrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  {% block scripts %}
  {% endblock scripts %}
</body>

</html>