{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- Google Fonts: Nunito sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!-- Base CSS -->
    <link rel="stylesheet" href="{% static 'css/base/base.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    <title>Sistema de Cadastro Escolinha Chapecoense Canoinhas</title>
  </head>

  <body>
    <div class="container-fluid h-100" id="divprincipal">
      <div class="row h-100" id="divsecundaria">
        <div class="col-lg-2 col-md-2 col-sm-12 p-0 bg-white">

          <ul class="nav-menu" id="listanaoordenadaprincipal">
            <hr />
            <li class="nav-item" id="listaordenadaprincipal">          
              <div class="dropdown" id="divinterna">
                <button class="btn btn-secondary dropdown-toggle bg-success" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <h4>Alunos</h4>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item bg-success text-white" href="{% url 'CadastroAlunos' %}"><h5>Cadastrar aluno</h5></a>
                  <a class="dropdown-item bg-success text-white" href="{% url 'ListaAlunos' %}"><h5>Listar Alunos</h5></a>
                </div>
              </div>
            </li>
            <hr />

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="false">
                <div><i class="fa fa-address-book"></i></div>Familias
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'CadastroAlunos' %}">Cadastro de Famílias</a>
                <a class="dropdown-item" href="{% url 'CadastroAlunos' %}">Cadastro de Integrantes</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'CadastroAlunos' %}">Lista de Famílias</a>
              </div>
            </li>
            <hr />

            <li class="nav-item">          <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle bg-success" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <h4>Responsáveis por aluno</h4>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item bg-success text-white" href="{% url 'CadastroResponsavel' %}"><h5>Cadastrar responsável</h5></a>
                <a class="dropdown-item bg-success text-white" href="{% url 'ListaResponsavel' %}"><h5>Listar Responsáveis</h5></a>
              </div>
            </div>
            </li>
            <hr />

            <li class="nav-item">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle bg-success" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <h4>Escolas</h4>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item bg-success text-white" href="{% url 'CadastroEscola' %}"><h5>Cadastrar escola</h5></a>
                  <a class="dropdown-item bg-success text-white" href="{% url 'ListaEscola' %}"><h5>Ver escolas</h5></a>
                </div>
              </div>
            </li>
            <hr />

            <li class="nav-item">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle bg-success" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <h4>Professores</h4>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item bg-success text-white" href="{% url 'CadastroProfessor' %}"><h5>Cadastrar professor</h5></a>
                  <a class="dropdown-item bg-success text-white" href="{% url 'ListaProfessor' %}"><h5>Ver professores</h5></a>
                </div>
              </div>
            </li>
            <hr />

            <li class="nav-item">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle bg-success" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <h4>Financeiro</h4>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <div class="dropdown-menu-item">
                    <a class="dropdown-item bg-success text-white" href="{% url 'CadastroFinanceiro' %}"><h5>Abrir caixa</h5></a>
                    <a class="dropdown-item bg-success text-white" href="{% url 'ListaFinanceiro' %}"><h5>Detalhes financeiro e inadimplentes</h5></a>
                 </div>
                </div>
              </div>
            </li>
            <hr />

            <li class="nav-item">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle bg-success" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <h4>Fichas de matrícula</h4>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item bg-success text-white" href="{% url 'CadastroFicha' %}"><h5>Nova ficha de matrícula</h5></a>
                  <a class="dropdown-item bg-success text-white" href="{% url 'ListaFicha' %}"><h5>Ver fichas de matrícula</h5></a>
                </div>
              </div>
            </li>
            <hr />

            <li class="nav-item">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle bg-success" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <h4>Valores de matrícula</h4>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item bg-success text-white" href="{% url 'CadastroValores' %}"><h5>Cadastrar um novo valor</h5></a>
                  <a class="dropdown-item bg-success text-white" href="{% url 'ListaValores' %}"><h5>Ver os atuais valores</h5></a>
                </div>
              </div>
            </li>
            <hr />

            <li class="nav-item">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle bg-success" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <h4>Chamadas</h4>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item bg-success text-white" href="{% url 'CadastroChamada' %}"><h5>Nova chamada</h5></a>
                  <a class="dropdown-item bg-success text-white" href="{% url 'ListaChamada' %}"><h5>Ver chamadas</h5></a>
                </div>
              </div>
            </li>
            <hr />
          </ul>
        </div>
        <div class="col-lg-10 col-md-12 col-sm-12 bg-secondary">
          <div>
            {% block content %}
            {% endblock content %}
          </div>
        </div>
      </div>

    <!-- Boostrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
    ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.js"
    ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"
    ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"
    ></script>
    {% block scripts %}
    {% endblock scripts %}
  </body>
</html>