{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- Google Fonts: Nunito sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet">
    
    <!-- Base CSS -->
    <link rel="stylesheet" href="{% static 'css/base/base.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    <title>Sistema de Cadastro Escolinha Chapecoense Canoinhas</title>
  </head>

  <body>
    <div class="container-fluid h-100" id="divprincipal">
      <div class="row h-100" id="divsecundaria">
        <div class="col-lg-2 col-md-2 col-sm-12 p-0 bg-white">

          <ul class="nav-menu" id="listanaoordenadaprincipal">
            <hr />
            <li class="nav-item" id="listaordenadaprincipal">          
              <div class="dropdown" id="divinterna">
                <button class="btn btn-secondary dropdown-toggle bg-success" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <h4>Alunos</h4>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item bg-success text-white" href="cadastrarAluno.html"><h5>Cadastrar aluno</h5></a>
                  <a class="dropdown-item bg-success text-white" href="detalhesAluno.html"><h5>Ver aluno</h5></a>
                  <a class="dropdown-item bg-success text-white" href="editarAluno.html"><h5>Editar aluno</h5></a>
                  <a class="dropdown-item bg-success text-white" href="excluirAluno.html"><h5>Excluir aluno</h5></a>
                </div>
              </div>
            </li>
            <hr />

            <li class="nav-item">          <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle bg-success" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <h4>Responsáveis por aluno</h4>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item bg-success text-white" href="cadastrarResponsavel.html"><h5>Cadastrar responsável</h5></a>
                <a class="dropdown-item bg-success text-white" href="detalhesResponsavel.html"><h5>Ver responsável</h5></a>
                <a class="dropdown-item bg-success text-white" href="editarResponsavel.html"><h5>Editar responsável</h5></a>
                <a class="dropdown-item bg-success text-white" href="excluirResponsavel.html"><h5>Excluir responsável por aluno</h5></a>
              </div>
            </div>
            </li>
            <hr />

            <li class="nav-item">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle bg-success" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <h4>Escolas</h4>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item bg-success text-white" href="cadastrarEscola.html"><h5>Cadastrar escola</h5></a>
                  <a class="dropdown-item bg-success text-white" href="detalhesEscola.html"><h5>Ver dados de escola</h5></a>
                  <a class="dropdown-item bg-success text-white" href="editarEscola.html"><h5>Editar escola</h5></a>
                  <a class="dropdown-item bg-success text-white" href="excluirEscola.html"><h5>Excluir escola</h5></a>
                </div>
              </div>
            </li>
            <hr />

            <li class="nav-item">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle bg-success" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <h4>Professores</h4>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item bg-success text-white" href="cadastrarProfessor.html"><h5>Cadastrar professor</h5></a>
                  <a class="dropdown-item bg-success text-white" href="detalhesProfessor.html"><h5>Ver dados de professor</h5></a>
                  <a class="dropdown-item bg-success text-white" href="editarProfessor.html"><h5>Editar professor</h5></a>
                  <a class="dropdown-item bg-success text-white" href="excluirProfessor.html"><h5>Excluir professor</h5></a>
                </div>
              </div>
            </li>
            <hr />

            <li class="nav-item">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle bg-success" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <h4>Financeiro</h4>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <div class="dropdown-menu-item">
                    <a class="dropdown-item bg-success text-white" href="cadastrarFinanceiro.html"><h5>Abrir caixa</h5></a>
                    <a class="dropdown-item bg-success text-white" href="detalhesFinanceiro.html"><h5>Detalhes financeiro e inadimplentes</h5></a>
                 </div>
                </div>
              </div>
            </li>
            <hr />

            <li class="nav-item">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle bg-success" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <h4>Fichas de matrícula</h4>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item bg-success text-white" href="cadastrarFicha.html"><h5>Nova ficha de matrícula</h5></a>
                  <a class="dropdown-item bg-success text-white" href="detalhesFicha.html"><h5>Ver ficha de matrícula</h5></a>
                  <a class="dropdown-item bg-success text-white" href="editarFicha.html"><h5>Editar ficha de matrícula</h5></a>
                </div>
              </div>
            </li>
            <hr />

            <li class="nav-item">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle bg-success" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <h4>Valores de matrícula</h4>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item bg-success text-white" href="cadastrarValores.html"><h5>Cadastrar um novo valor</h5></a>
                  <a class="dropdown-item bg-success text-white" href="detalhesValores.html"><h5>Ver os atuais valores</h5></a>
                  <a class="dropdown-item bg-success text-white" href="editarValores.html"><h5>Alterar um valor</h5></a>
                </div>
              </div>
            </li>
            <hr />

            <li class="nav-item">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle bg-success" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <h4>Chamadas</h4>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item bg-success text-white" href="cadastrarChamada.html"><h5>Nova chamada</h5></a>
                  <a class="dropdown-item bg-success text-white" href="detalhesChamada.html"><h5>Ver chamadas anteriores</h5></a>
                </div>
              </div>
            </li>
            <hr />

    <!-- Boostrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
    ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.js"
    ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"
    ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"
    ></script>
    {% block scripts %}
    {% endblock scripts %}
  </body>
</html>