{% extends 'base.html' %}
{% block content %}
{% load widget_tweaks %}
{% load static %}
  <link rel="stylesheet" href="{% static 'css/listas/listas.css' %}">

<div class="col text-white bg-success">
  <div class="text-white bg-success table-wrapper" id="round">
    <div class="text-white bg-success table-title" id="round-top">
      <div class="row text-white bg-success">
        <div class="col-sm-7 text-white bg-success">
          <h2 class="text-white bg-success">Cadastro:</h2>
          <div class="col-md-1 col-xs-1 col-sm-1 text-white bg-success"></div>
        </div>
      </div>
    </div>
    <div class="col-md-10 col-xs-10 col-sm-10 text-white bg-success">
      <form method="post" novalidate>
        {% csrf_token %}
        {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
        {% endfor %}
        {% for field in form.visible_fields %}
        <div class="form-group">
          {{ field.label_tag }}
          {% render_field field class="form-control" %}
          {% if field.help_text %}
          <small class="form-text text-muted">{{ field.help_text }}</small>
          {% endif %}
        </div>
        {% if field.errors %}
    					<div role="alert">
    						<div class="alert alert-danger">{{ field.errors }}</div>
    					</div>
				{% endif %}
        {% endfor %}
        <p align="right"><button type="submit" class="btn btn-success">Salvar</button></p>
      </form>
    </div>
  </div>
</div>
{% endblock %}