{% extends 'base.html' %}
{% load static %}
  {% block content %}
  <link rel="stylesheet" href="{% static 'css/listas/listas.css' %}">
  <link rel="stylesheet" href="{% static 'css/reset/reset.css' %}">
  <link rel="stylesheet" href="{% static 'css/base/base.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock %}

<div class="col">
<div class="table-wrapper" id="round">
  <div class="table-title" id="round-top">
      <div class="row">
        <div class="col-sm-7">
            <h2>Valores: #{{ valores.pk }}</h2>
        <div class="col-md-10 col-xs-10 col-sm-10">
        </div>
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
        </div>
     </div>
    </div> 
                <br>
                <p>Id valor matrícula: {{ valores.pk }}</p>
                <p>Valor 01: {{ valores.valor01 }}</p>
                <p>Valor 02: {{ valores.valor02 }}</p>
                <p>Valor 03: {{ valores.valor03 }}</p>
                <br>
</div> 
</div>  
{% endblock %}