{% extends 'base.html' %}
{% block content %} {% block styles %} 
{% block style %}
<link rel="stylesheet" href="{% static 'css/dashboard/dashboard.css' %}">
{% endblock %}

{% block content %}
<h1 class="title">Home</h1>
<ul class="breadcrumbs">
  <li><a href="#">Ínicio</a></li>
  <li class="divider">/</li>
  <li><a href="#" class="active">Home</a></li>
</ul>
<div class="info-data">
  <div class="card">
    <div class="head">
      <div>
        <div class="count-item">
          <h3 class="title">Alunos cadastrados</h3>
          <div class="percentage-holder">
            <h4 class="" id="alunos-percentage"></h4>
            <h4>em relação ao último mês.</h4>
          </div>


          <div class="info-holder">
            <i class="fas fa-building icon"></i>
            <div class="counter" id="alunos-counter">
            </div>
          </div>
        </div>
      </div>
      <i class="bx bx-message-square icon"></i>
    </div>
  </div>
  <div class="card">
    <div class="head">
      <div class="count-item">
        <h3 class="title">Responsáveis</h3>
        <div class="percentage-holder">
          <h4 class="" id="responsaveis-percentage"></h4>
          <h4>em relação ao último mês.</h4>
        </div>
        <div class="info-holder">
          <i class="fas fa-users icon"></i>
          <div class="counter" id="responsaveis-counter">
          </div>
        </div>
      </div>
      <i class="bx bx-message-square icon"></i>
    </div>
  </div>
  <div class="card">
    <div class="head">
      <div class="count-item">
        <h3 class="title">Fichas</h3>
        <div class="percentage-holder">
          <h4 class="" id="fichas-percentage"></h4>
          <h4>em relação ao último mês.</h4>
        </div>


        <div class="info-holder">
          <i class="fas fa-hand-holding-usd icon"></i>
          <div class="counter" id="fichas-counter">
          </div>
        </div>
      </div>
      <i class="bx bx-message-square icon"></i>
    </div>
  </div>
</div>
<div class="data">
  <div class="content-data">
    <div class="head">
      <h3>Caixas abertos</h3>
    </div>
    <div class="col-12 p-3 bg-light d-flex justify-content-center align-items-center">
      <canvas id="entity-chart" height="80"></canvas>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
  <!-- Chart JS -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <!-- Counters -->
  <script>
    const alunosCounter = document.querySelector("#alunos-counter");
    const alunosPercentage = document.querySelector("#alunos-percentage")
    const responsaveisCounter = document.querySelector("#responsaveis-counter");
    const responsaveisPercentage = document.querySelector("#responsaveis-percentage");
    const fichasCounter = document.querySelector("#fichas-counter");
    const fichasPercentage = document.querySelector("#fichas-percentage");

    const count = (value, end, tag) => {
      tag.innerHTML = value;

      if (value < end)
        setTimeout(() => count(value + 1, end, tag), 10);
    }

    const getPercentage = (tag, last, count) => {
      if ((last * count)/100 >= 0) {
        tag.classList.add("text-success")
        return "+" + (last * count)/100 + "%";
      } else {
        tag.classList.add("text-danger")
        return "-" + (last * count)/100 + "%";
      }
    }

    window.onload = () => {
      const start = 0;

      const alunos = {
        counter: alunosCounter,
        end: "{{ alunos-counter }}",
        last_month: "{{ alunos_lastmonth }}",
      }

      const responsaveis = {
        counter: responsaveisCounter,
        end: "{{ responsaveis-percentage }}",
        last_month: "{{ responsaveis_lastmonth }}",
      }

      const fichas = {
        counter: fichasCounter,
        end: "{{ fichas_count }}",
        last_month: "{{ fichas_lastmonth }}",
      }

      count(start, alunos.end, alunos.counter);
      count(start, responsaveis.end, responsaveis.counter);
      count(start, fichas.end, fichas.counter);

      alunoPercentage.innerHTML = getPercentage(alunoPercentage, alunos.last_month, alunos.end)
      responsaveisPercentage.innerHTML = getPercentage(responsaveisPercentage, responsaveis.last_month, responsaveis.end)
      fichasPercentage.innerHTML = getPercentage(fichasPercentage, fichas.last_month, fichas.end)
    }
  </script>

  <!-- Charts -->
  <script>
    const alunosCtx = document.querySelector("#alunos-chart").getContext("2d");
    const responsaveisCtx = document.querySelector("#responsaveis-chart").getContext("2d");
    const fichasCtx = document.querySelector("#fichas-chart").getContext("2d");

    const months = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"];

    const labels = [...Array(7)].map((_, i) => {
      const d = new Date()
      d.setDate(d.getDate() - i)
      return `${d.getDate()}/${months[d.getMonth()]}`
    });

    Chart.defaults.color = "#fff";

    const gradient = alunosCtx.createLinearGradient(0,0,0, 400);
    gradient.addColorStop(0, "rgb(86, 74, 192)");
    gradient.addColorStop(1, "rgba(77, 53, 165, 0.3)");

    const alunosData = {
      labels,
      datasets: [{
          data: ["{{ chart_data.alunos.today }}", "{{ chart_data.alunos.yesterday }}", "{{ chart_data.alunos.twodaysbefore }}", "{{ chart_data.alunos.threedaysbefore }}", "{{ chart_data.alunos.fourdaysbefore }}", "{{ chart_data.alunos.fivedaysbefore }}", "{{ chart_data.alunos.sixdaysbefore }}", "{{ chart_data.alunos.last_week }}"],
          label: "Alunos cadastradas",
          fill: true,
          backgroundColor: gradient,
          borderColor: "hsl(0, 0%, 70%)",
          pointBackgroundColor: "hsl(0, 0%, 70%)",
      }]
    };

    const alunosConfig = {
      type: 'line',
      data: alunosData,
      options: {
        radius: 5,
        hitRadius: 30,
        hoverRadius: 8,
        responsive: true,
        plugins: {
            legend: {
                labels: {
                    font: {
                        size: 14,
                        weight: 600,
                        family: "Nunito",
                    }
                }
            }
        },
      },
    };

    const alunosChart = new Chart(alunosCtx, alunosConfig);

    const responsaveisData = {
      labels,
      datasets: [{
          data: ["{{ chart_data.responsaveis.today }}", "{{ chart_data.responsaveis.yesterday }}", "{{ chart_data.responsaveis.twodaysbefore }}", "{{ chart_data.responsaveis.threedaysbefore }}", "{{ chart_data.responsaveis.fourdaysbefore }}", "{{ chart_data.responsaveis.fivedaysbefore }}", "{{ chart_data.responsaveis.sixdaysbefore }}", "{{ chart_data.responsaveis.last_week }}"],
          label: "Responsáveis cadastrados",
          fill: true,
          backgroundColor: gradient,
          borderColor: "hsl(0, 0%, 70%)",
          pointBackgroundColor: "hsl(0, 0%, 70%)",
      }]
    };

    const responsaveisConfig = {
      type: 'line',
      data: responsaveisData,
      options: {
        radius: 5,
        hitRadius: 30,
        hoverRadius: 8,
        responsive: true,
        plugins: {
            legend: {
                labels: {
                    font: {
                        size: 14,
                        weight: 600,
                        family: "Nunito",
                    }
                }
            }
        },
      },
    };

    const responsaveisChart = new Chart(responsaveisCtx, responsaveisConfig);

    const fichasData = {
      labels,
      datasets: [{
          data: ["{{ chart_data.fichas.today }}", "{{ chart_data.fichas.yesterday }}", "{{ chart_data.fichas.twodaysbefore }}", "{{ chart_data.fichas.threedaysbefore }}", "{{ chart_data.fichas.fourdaysbefore }}", "{{ chart_data.fichas.fivedaysbefore }}", "{{ chart_data.fichas.sixdaysbefore }}", "{{ chart_data.fichas.last_week }}"],
          label: "Fichas cadastradas",
          fill: true,
          backgroundColor: gradient,
          borderColor: "hsl(0, 0%, 70%)",
          pointBackgroundColor: "hsl(0, 0%, 70%)",
      }]
    };

    const fichasConfig = {
      type: 'line',
      data: fichasData,
      options: {
        radius: 5,
        hitRadius: 30,
        hoverRadius: 8,
        responsive: true,
        plugins: {
            legend: {
                labels: {
                    font: {
                        size: 14,
                        weight: 600,
                        family: "Nunito",
                    }
                }
            }
        },
      },
    };

    const fichasChart = new Chart(fichasCtx, fichasConfig);
  </script>
{% endblock %}