
{% extends 'base.html' %}
{% block content %} {% block styles %} 
{% load static %}
<link rel="stylesheet" href="{% static 'css/listas/listas.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock %}

<div class="col">
  <div class="table-wrapper" id="round">
    <div class="table-title" id="round-top">
        <div class="row mt-3">
          <div class="col-sm-12">
            {% if user.is_staff %}<a href="{% url 'CadastroProfessor' %}" class="btn btn-success"><i class="material-icons">&#xE147;</i> <span>Adicionar novo professor</span></a>{% endif %}  <h2>Professores</h2> 
          </div>
        </div>
    </div>
    <table class="table table-striped table-hover table-responsive-sm text-justify">
      <thead>
          <tr>
            <th class="text-center">ID</th>
            <th class="text-center">Nome</th>
            <th class="text-center">CPF</th>
          </tr>
        </thead>
        <tbody>
          {% for professor in professor_list %}
          <tr>
            <td class="text-center">{{ professor.pk }}</td>
            <td class="text-center">{{ professor.nome }}</td>
            <td class="text-center">{{ professor.cpf }}</td>
            <td class="text-center icons-td">
              {% if user.is_staff %}
              <a href="{% url 'DetalhesProfessor' professor.pk %}" class="details">
                <span class="material-icons">
                  visibility
                </span>
              </a>
              <a href="{% url 'EditarProfessor' professor.pk %}" class="edit">
                <i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i>
              </a>
              <a href="{% url 'ExcluirProfessor' professor.pk %}" class="delete">
                <i class="material-icons" data-toggle="tooltip" title="Excluir">&#xE872;</i>
              </a> 
              {% endif %}               
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>  
{% endblock %}